/*LA PARTIE DU HEADER*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:	rgb(203, 224, 247);
    display: flex;
}



.navbar{
    padding-top: 20px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px;
    grid-gap: 530px;
    /*border: solid red;*/
    background-color: white; 
    width: auto; 
    box-shadow: 0px 10px 8px #888888;
   
}

.navbar-page{
    height: 20px;
    display: flex;
    margin-left: 20px;
}
.navbar-page p{
    font-size: 25px;
    color:  rgb(105, 171, 247);
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-bars{
    
}

.nav-recherche{
    
    display: flex;
    
}

.nav-profile{
    margin-right: 20px;
    
}

.nav-profile div span{
    font-size: 30px;
}

.nav-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#nav-recherche-input{
    border: transparent;
}
.nav-recherche{
    border: solid  rgb(105, 171, 247);
    border-radius: 20px;
    width: 200px;
    height: 25px;
}
/*LA PARTIE DE LA BAR DE MENU DU PROJET*/
.menu-bar{
    width: 50px;
    background-color:rgb(23, 96, 113) ;
    height: 1500px;
    padding-top: 10px;
    padding-left: 5px;
}

/*LA PARTIE DU STATISTIQUE DE NOTRE PROJET */

.statistic{
   margin:20px 20px ;
    padding-top: 50px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px;
    grid-gap: 40px;
    /*border: solid red;*/    
    width: auto; 
    
    

}

.vente{
    background-color: white;
    box-shadow: 0px 10px 8px #888888;
    border-radius: 15px;
}

.stock{
    background-color: white;
    box-shadow: 0px 10px 8px #888888;
    border-radius: 15px;
}

.fournisseur{
    background-color: white;
    box-shadow: 0px 10px 8px #888888;
    border-radius: 15px;
}

.communaute{
    background-color: white;
    box-shadow: 0px 10px 8px #888888;
    border-radius: 15px;
}

/*LA PARTIE DES LISTES DE MOTRE PROJET*/

.liste{
   display: flex;
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 200px;
}

.list-produits{
    background-color: white;    
    margin-right: 40px;
    width: 1000px;
}

.list-produits-text{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.client{
    background-color: white;    
    width: 600px;
    right: 20px;
   /* margin-left:900px ;*/

}

.clients{
    
}

/*LA PARTIE DE LISTE PRODUIT*/
table{
    width: 100%;
}
table th{
    padding-left: 10px;    
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid rgb(162, 218, 242);
    border-top: 2px solid rgb(162, 218, 242);
    text-align: left;
    

}

table td{
    padding-left: 10px;
     
    
}
.list-table-body1{
    display: flex;
}

.list-table-body1 p{
    margin-left:10px ;

}
#list-table-body-round1{
    background-color: red;
  height: 15px;
  width: 15px;  
  border-radius: 50%;
  float: left;
  shape-outside: border-box;
}


#list-table-body-round2{
    background-color:rgb(105, 171, 247) ;
  height: 15px;
  width: 15px;  
  border-radius: 50%;
  float: left;
  shape-outside: border-box;
}

#list-table-body-round3{
    background-color:green ;
  height: 15px;
  width: 15px;  
  border-radius: 50%;
  float: left;
  shape-outside: border-box;
}

#list-table-body-round4{
    background-color:red ;
  height: 15px;
  width: 15px;  
  border-radius: 50%;
  float: left;
  shape-outside: border-box;
}

#list-table-body-round5{
    background-color:rgb(105, 171, 247) ;
  height: 15px;
  width: 15px;  
  border-radius: 50%;
  float: left;
  shape-outside: border-box;
}
 
 
/*LA PARTIE DES CLIENTS FIDELS*/
.client{
    width: 420px;
}
.client-text{
    font-size:25px ;
    padding-top: 10px;
    padding-bottom: 10px;      
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.client-profile-icons{
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    
}

.client-profile-icons .client-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;

} 

.client-icons{
    margin-left: 230px;
}

.client-profile-icons .client-profile{
    display: flex;
}
.client-text p{
    margin-left: 5px;
}
/*LA PARTIE DES GRAPHIE*/
.graphe-legend{
    display: flex;
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 50px;
}

.graphe{
    background-color: white;    
    margin-right: 40px;
    width: 1000px;
}

.legende{
    background-color: white;    
    width: 400px;
    right: 20px;
    padding-left: 20px;
}

/*LA PARTIE DU CALANDRIER DE NOTRE PROJET*/

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 1410px;
  margin-left: 20px;
  margin-top: 40px;
  background: rgb(23, 96, 113);
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0px 20px ;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  margin: 0px 20px;
  background: #eee;
  
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background:rgb(23, 96, 113);
  color: white !important
}

.calandar{
    width: 1500px;
}
